---
layout: archive
author_profile: true
---

{% include base_path %}

<h3 class="archive__subtitle">Welcome!</h3>

Above you can find navigation links to my current projects, publications, software tools,
some random blog posts and a short bio.

Hehe. mm

<h3 class="archive__subtitle">Contact Information</h3>

Dr. Robin Vujanic<br>
RTCMA - Rio Tinto Centre for Mine Automation<br>
J13 Link Building<br>
The University of Sydney<br>
NSW 2006, Australia<br><br>


<!--<h3 class="archive__subtitle">Recent Posts</h3>-->

<!--{% for post in paginator.posts %}-->
  <!--{% include archive-single.html %}-->
<!--{% endfor %}-->

<!--{% include paginator.html %}-->